In [4]:
file = "health.csv"

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv(file)

In [7]:
data.head()

,1526000355893,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E 0F 10 11 12 13 14 15 16 17,Thu May 10 17:59:15 MST 2018
0,1526000355900,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:15 MST 2018
1,1526000356879,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018
2,1526000356886,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018
3,1526000357881,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018
4,1526000357902,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018

In [22]:
data.columns = ["EpochTime", "Data", "DateTime"]

In [23]:
data.head()

,EpochTime,Data,DateTime
0,1526000355900,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:15 MST 2018
1,1526000356879,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018
2,1526000356886,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018
3,1526000357881,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018
4,1526000357902,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018

In [24]:
data["SimpleTime"] = (data["EpochTime"] - data["EpochTime"][0])

In [26]:
data.head()

,EpochTime,Data,DateTime,SimpleTime
0,1526000355900,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:15 MST 2018,0
1,1526000356879,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018,979
2,1526000356886,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018,986
3,1526000357881,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018,1981
4,1526000357902,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018,2002

In [32]:
data["TimeIndex"] = round(data["SimpleTime"]/1000)

In [33]:
data.head()

,EpochTime,Data,DateTime,SimpleTime,TimeIndex
0,1526000355900,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:15 MST 2018,0,0.0
1,1526000356879,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018,979,1.0
2,1526000356886,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:16 MST 2018,986,1.0
3,1526000357881,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018,1981,2.0
4,1526000357902,00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E ...,Thu May 10 17:59:17 MST 2018,2002,2.0

In [35]:
c = data["TimeIndex"].value_counts()

In [36]:
c.head()

360.0    4
777.0    4
380.0    4
400.0    4
66.0     4
Name: TimeIndex, dtype: int64

In [37]:
c

360.0    4
777.0    4
380.0    4
400.0    4
66.0     4
688.0    4
480.0    4
440.0    4
172.0    4
152.0    4
132.0    3
757.0    3
717.0    3
331.0    3
607.0    3
340.0    3
320.0    3
112.0    3
371.0    3
596.0    3
203.0    3
207.0    3
44.0     3
270.0    3
737.0    3
549.0    3
196.0    3
509.0    3
269.0    3
200.0    3
        ..
644.0    2
684.0    2
724.0    2
234.0    2
250.0    2
246.0    2
242.0    2
230.0    2
254.0    2
226.0    2
764.0    2
756.0    1
205.0    1
548.0    1
62.0     1
339.0    1
736.0    1
252.0    1
43.0     1
443.0    1
131.0    1
202.0    1
319.0    1
634.0    1
330.0    1
111.0    1
508.0    1
370.0    1
716.0    1
0.0      1
Name: TimeIndex, Length: 769, dtype: int64